@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead">Trash Collector project is a real world Project.I did Asp.NET/Entity framework for building great Web sites and Web applications using HTML, CSS and JavaScript,BOOTSTRAP</p>
    <p><a href="../Home/Index" class="btn btn-primary btn-lg">HOME</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2></h2>
        <p>
            Trash Collection disrupts the way your garbage is picked up!
            This web app allows customers to set their pickup preferences, 
            view account info and pay online. Trash collectors can view their route, 
            mark their pickups and bill their customers. 
            This was my first ASP.NET/Entity Framework project for devCodeCamp.
        </p>
       
    </div>
    
    
</div>